@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --aqua-bg: #D5FFFF;
  --text-dark: #005954;
  --hover-bg: #338B85;
}

.nav {
  @apply flex items-center justify-between px-8 py-4 shadow-md;
  background-color: var(--aqua-bg);
  position: relative; 
}


.loggedNav {
  @apply justify-between;
}

.authNav {
  @apply justify-center shadow-sm;
}

.left {
  @apply flex items-center gap-2;
}

.center {
  @apply flex justify-center items-center w-full;
}

.brand {
  @apply text-2xl font-semibold flex items-center gap-2;
  color: var(--text-dark);
  text-decoration: none;
}

.right {
  @apply flex items-center gap-4; 
}

.button {
  @apply flex-1 py-1.5 px-3 rounded-lg font-semibold transition-all text-sm;
  background-color: var(--blue) !important; 
  color: #ffffff !important; 
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.button:hover {
  background-color: var(--blue2)!important; 
  opacity: 0.95;
}
