@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --aqua-bg: #D5FFFF;
  --text-dark: #005954;
  --hover-bg: #338B85;
}

.nav {
  @apply flex items-center justify-between px-8 py-4 shadow-md;
  background-color: var(--aqua-bg);
  position: relative; 
}


.loggedNav {
  @apply justify-between;
}

.authNav {
  @apply justify-center shadow-sm;
}

.left {
  @apply flex items-center gap-2;
}

.center {
  @apply flex justify-center items-center w-full;
}

.brand {
  @apply text-2xl font-semibold flex items-center gap-2;
  color: var(--text-dark);
  text-decoration: none;
}

.right {
  @apply flex items-center;
}

.button {
  @apply text-base font-semibold transition-colors px-4 py-2 rounded-lg;
  color: var(--text-dark);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.button:hover {
  background-color: var(--hover-bg);
  color: white;
}
