apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: alissagabriel/pressiotrack-backend:latest
          ports:
            - containerPort: 5000
          env:
            - name: DATABASE_URL
              value: "mysql://root:root@mysql:3306/PressioTrack"
            - name: JWT_SECRET
              value: "your_jwt_secret"
            - name: FRONTEND_URL
              value: "http://localhost:30001"
---
apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  type: NodePort
  ports:
    - port: 5000
      targetPort: 5000
      nodePort: 30000
  selector:
    app: backend
